/* Preferred box-sizing value */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

body, div.container {
	display: flex;
	align-items: center;
	width: 100%;
	font-family: sans-serif;
}
body {		
  min-height: 100vh;
  margin: 0;
	justify-content: center;
}

div.container {
  justify-content: space-around;
}

section.column {
	background-color: #f5f5f5;
	border-radius: 5px;
  padding: 10px;
	box-shadow: -1px 1px 3px 1px #b3afaf;

	/* height: 300px; */
}

section.column > h1 {
  font-size: 1.5em;
}

section.column > ul {
  max-width: 100%;
	margin: auto;
	padding: 15px 0 15px 0;
}

section.column > ul > li#item {
	width: 100%;
	background-color: #e89e9e;
	padding: 5px;
	border-radius: 4px;
	margin: 10px 0 10px 0;
	cursor: pointer;
}

.invisible {
	opacity: 0;
}